body{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #93ecee 0%, #006eff 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30vh;
}
button{
    
    text-decoration: none;
}
